# Virtual environments
venv/
.venvPI/
venvPI/
.venv/
.env/
venv310/
venvPI/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code and other IDE junk
.vscode/
.idea/

# Logs, temp, outputs
*.log
*.tmp

# # Training artifacts (optional – keeps repo lightweight)
# training_data/models/
# *.h5
# *.pkl
